:root {
  --primary: #369c38;
  --secondary: #132A13;
  --tertiary: #000080;
  --padding: 15px;
  --cinza : #405040;
  --cinza-claro: #dedede;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  color: inherit;
}

* {
  font-family: "Roboto", sans-serif;
}

.container-form {
  max-width: 500px;
  padding: 30px;
  margin: 0 auto;
}

.container-table {
  max-width: 800px;
  padding: 40px;
  margin: 0 auto;
}
